*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colorazione sfondo verde */
.back-green{
    height: 150px;
    background-color: #207b63;
    position: relative;
}

/* Contenitore webapp */
.main-container{
    margin: 0 auto;
    position: absolute;
    display: flex;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

/* Left side [DEBUG]*/
.left-side{
    width: 40%;
    height: 100%;
    background-color: red;
}

    /* Blocco user */
.user{
    width: 70%;
    display: flex;
    align-items: center;
}

.left-side-header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
    border-right: 1px solid black;
}

.user-avatar{
    width: 50px;
    height: 50px;
    padding-left: 5px;
    padding-top: 2px;
    margin-right: 5px;
}

.user-avatar img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.user-buttons{
    padding-right: 10px;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-buttons i{
    color: #B1B1B1;
    font-size: 25px;
}

.user-buttons i:hover{
    cursor: pointer;
}

    /* Blocco notifiche */

.notifiche{
    height: 65px;
    width: 100%;
    background-color: #8EDAFC;
}

.notifiche-flex{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.notifiche-button{
    font-size: 25px;
    color: #8EDAFC;
    background-color: #F2FBFF;
    padding: 12px 11px;
    border-radius: 50%;
    cursor: pointer;
}

.notifiche-testo p{
    font-weight: bold;
}

.notifiche-testo u{
    cursor: pointer;
}

    /* Blocco search */


.search{
    height: 30px;
    width: 100%;
    background-color: #F9F9F9;
}

.search-container{
    display: flex;
    width: 100%;
    height: 100%;
    
}

.search-button{
    width: 15%;
    padding: 5px 8px;
    border: 1px solid #6a6a6a;
    color: #B1B1B1;
    text-align: center;
    justify-self: center;
    cursor: pointer;
}

.search-bar{
    width: 85%;
    border: 1px solid #6a6a6a;
}

.search-bar input{
    width: 100%;
    height: 100%;
}

    /* Blocco chat */

.chats{
    height: calc(100% - 155px);
    background-color: #ffffff;
    overflow: scroll;
    padding: 15px;
}

.chats .user{
    margin-bottom: 5px;
    width: 100%;

}

.chats .user:hover{
    background-color: #E9EBEB;
}



/* Right side [DEBUG] */
.right-side{
    width: 60%;
    height: 100%;
    background-color: blue;
}

.active-chat-header{
    height: 60px;
    width: 100%;
    background-color: #EAEAEA;
    border-left: 1px solid black;
}

.active-chat-main{
    height: calc(100% - 120px);
    width: 100%;
    background-image: url("../img/default_bg.webp");
    background-size: contain;
}

.active-chat-text{
    height: 60px;
    width: 100%;
    background-color: springgreen;
}