<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Div utile a colorare il background verde -->
    <div class="back-green"></div>

    <main>
        <!-- Div contenitore della web-app -->
        <div id="app">

            <div class="main-container">

                <!-- Parte sinistra, contenente nome utente, searchbar e chat -->
                <div class="left-side">

                    <div class="left-side-header">
                    <!-- Blocco utente -->
                        <div class="user">

                            <!-- Immagine utente -->
                            <div class="user-avatar">
                                <img src="img/avatar_1.png" alt="">
                            </div>

                            <!-- Nome utente -->
                            <div class="user-name">
                                <p>Claudione</p>
                            </div>

                        </div>
                            <!-- Bottoni -->
                        <div class="user-buttons">

                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>

                        </div>
                    </div>

                    <!-- Blocco notifiche -->
                    <div class="notifiche">

                        <div class="notifiche-flex">

                            <div class="notifiche-button">

                                <i class="fa-solid fa-bell-slash"></i>

                            </div>

                            <div class="notifiche-testo">
                                <p>Ricevi notifiche di nuovi messaggi</p>
                                <u>Attiva notifiche desktop</u>
                            </div>

                        </div>

                    </div>

                    <!-- Search bar -->
                    <div class="search">

                        <div class="search-container">
                            
                            <div class="search-button">

                                <i @click="cercaChat" class="fa-solid fa-magnifying-glass"></i>

                            </div>

                            <div class="search-bar">

                                <input @keyup="cercaChat" v-model="cercaChat" type="text" placeholder="Cerca o inizia una nuova chat">

                            </div>
                        
                        </div>

                    </div>

                    <!-- Blocco messaggi -->
                    <div class="chats">
                        <div @click="scegliChat(index)" v-for="(contact, index) in filteredChatList" :key="index" :class="chatAttiva === index ? 'active' : ''" class="user">
                    
                            <div class="user-avatar">
                                <img :src= "contact.avatar" alt="">
                            </div>
                            <div class="user-status">
                                <p>{{contact.name}}</p>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Parte destra, contenente chat attiva, messaggi inviati e ricevuti e input bar -->
                <div class="right-side">

                    <!-- Blocco header chat attiva -->
                    <div class="active-chat-header">
                        <div class="user">
                            
                            <div class="user-avatar">
                                <img :src= "contacts[chatAttiva].avatar" alt="">
                            </div>
                            <div class="user-status">
                                <p>{{contacts[chatAttiva].name}}</p>
                            </div>

                        </div>
                        <div class="user-buttons">

                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        
                        </div>
                    </div>

                    <!-- Blocco main chat attiva -->
                    <div class="active-chat-main">

                        <div v-for="(chatAperta, index) in contacts[chatAttiva].messages" :class="chatAperta.status === 'sent' ? 'inviato' : 'ricevuto'" class="messaggio">
                            <p>{{chatAperta.message}}</p>
                        </div>   

                    </div>

                    <!-- Blocco invio messaggio -->
                    <div class="active-chat-text">
                        
                        <i class="fa-regular fa-face-smile"></i>
                        <input type="text" placeholder="    Scrivi un messaggio" v-model="nuovoMessaggio" @keyup.enter="scriviMessaggio">
                        <i class="fa-solid fa-microphone"></i>
                    
                    </div>

                </div>

            </div>

        </div>


    </main>





    <!-- ><script src="luxon.js"></script -->
    <script type="text/javascript" src="main.js"></script>
</body>
</html>